*.vsix
*.backup

vim/colors/*.vim
!vim/colors/template.vim

vscode/themes/*.json
!vscode/themes/template.json

sublime/*.tmTheme
!sublime/earthbound_template.tmTheme

.idea/

node_modules/
package-lock.json

*.o
earthbound-themes

colorstorm
colorstorm-out/
zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/
