// These colors are specific to the theme. Do not use in a package!

@mainbg: color_bg_main;
@bg2: color_bg_alt1;
@bg3: color_bg_alt2;
@bg4: color_bg_alt2;
@fg3: color_accent;
@fg2: color_accent;
@mainfg: color_fg;

@comment: color_comment;
@builtin: color_type;
@keyword: color_number;
@type: color_type;
@const: color_variable;
@func: color_function;
@string: color_string;
@var: color_boolean;
@warning: #ff0000;
@warning2: #ff8800;
